<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Taco Cloud</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

	<form method="POST" th:action="@{/orders}" th:object="${order}">
		<h1>Order your taco creations!</h1>

		<img th:src="@{/images/TacoCloud.png}" /> <a th:href="@{/design}"
			id="another">Design another taco</a><br />

		<h3>Deliver my taco masterpieces to...</h3>
		<label for="name">Name: </label> <input type="text" th:field="*{name}" />
		<!-- end::allButValidation[] -->
		<span class="validationError">Name Error</span>
		<!-- tag::allButValidation[] -->
		<br /> <label for="street">Street address: </label> <input
			type="text" th:field="*{street}" />
		<!-- end::allButValidation[] -->
		<span class="validationError">Street Error</span>
		<!-- tag::allButValidation[] -->
		<br /> <label for="city">City: </label> <input type="text"
			th:field="*{city}" />
		<!-- end::allButValidation[] -->
		<span class="validationError">City Error</span>
		<!-- tag::allButValidation[] -->
		<br /> <label for="state">State: </label> <input type="text"
			th:field="*{state}" />
		<!-- end::allButValidation[] -->
		<span class="validationError">State Error</span>
		<!-- tag::allButValidation[] -->
		<br /> <label for="zip">Zip code: </label> <input type="text"
			th:field="*{zip}" />
		<!-- end::allButValidation[] -->
		<span class="validationError">Zip Error</span>
		<!-- tag::allButValidation[] -->
		<br />

		<h3>Here's how I'll pay...</h3>
		<!-- tag::validatedField[] -->
		<label for="ccNumber">Credit Card #: </label> <input type="text"
			th:field="*{ccNumber}" />
		<!-- end::allButValidation[] -->
		<span class="validationError">CC Num Error</span>
		<!-- tag::allButValidation[] -->
		<!-- end::validatedField[] -->
		<br /> <label for="ccExpiration">Expiration: </label> <input
			type="text" th:field="*{ccExpiration}" />
		<!-- end::allButValidation[] -->
		<span class="validationError" >CC
			Num Error</span>
		<!-- tag::allButValidation[] -->
		<br /> <label for="ccCVV">CVV: </label> <input type="text"
			th:field="*{ccCVV}" />
		<!-- end::allButValidation[] -->
		<span class="validationError">CC Num Error</span> <br /> <input
			type="submit" value="Submit order" />

	</form>
</body>
</html>